// CSS that work on dropdown  of submenu items

.Navigation-listItem--hasDropdown {
    position: relative;
    text-decoration: none;
}

ul.Navigation-list--dropdown {
    display: block;
	height: auto;
	position: absolute;
	width: 250px;
	padding: 0px;
	line-height: 40px;
	z-index: 9999;
	background: rgba(2, 46, 85, 0.8)
}

ul.Navigation-list--dropdown li.Navigation-listItem {
    display: block;
    padding: 0px 2px;
    margin: 0px auto;
    border: 0px none;
    clear: both;
    width:100%;
    text-align: left;
    &:hover{
    	background:rgba(21, 111, 190, 0.8);
    }
}

.Navigation-list.is-hidden {
	display: none;
}
