// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  @include clearfix;
  text-align: center;
  //padding:10px;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-list {
	display: block;
	margin: 0px;
}

.Navigation-link.is-active {
  background:#022E55;

}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: block;
  margin: 0 rem(15px);
  float: left;
  margin-right: 0px;
  margin-left: 0px;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
  
  
}
.caret {display: none;}
// ----- Navigation link ----- //

.Navigation-link {
   display: inline-block;
  text-decoration: none;
   padding:10px;
   padding-left:15px;
   padding-right:15px;
   &:hover{
    background:#022E55;
    text-decoration: none;
  }
  a:hover{
    background:#022E55;
    text-decoration: none;
  }
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}
.Bot-Nav{
  background: #E05F2E;
  margin-top: 10px;
  position: relative;
}
  .sticky {
    position: fixed; 
    top: 0; 
    z-index: 999999999999999999999999;
    width: 100%;
    margin-top: 0px !important;
}
.Navigation-listItem--hasDropdown {
  a{
    text-decoration: none!important;
    &:hover{
      background:#022E55;
      ul{
        display:block;
      }
    }
  }
}
.Navigation-list--dropdown{
  
    li{
      :hover{
        background:none!important;
      }
    }
  
}